.App {
  position: relative;
  min-height: 100vh;
}

.App-Wrap {
  padding-bottom: 6.5rem;
}

.panel {
  height: 1em;
  width: 100%
}

.ui.input {
  margin: 0 10px;
}

h3.ui.header {
  font-size: 1.6em !important;
}

h2.ui.header {
  font-size: 2.3em !important;
}

div.sub.header {
  font-size: .8em !important;
  line-height: 1.7em !important;
}

ui.text.container {
  max-width: 1100px!important;
  line-height: 1.5;
}

p {
  font-size: 1.3em;
  line-height: 1.7em !important;
}

#one {
  background-color: #FFEACC;
}
#two {
  background-color: #FFD8A1;
}
#three {
  background-color: #FEC779;
}
#four {
  background-color: #FCB64C;
}
#five {
  background-color: #FAA220;
}
