.panel {
  height: 1em;
  width: 100%
}

#one {
  background-color: #FFEACC;
}
#two {
  background-color: #FFD8A1;
}
#three {
  background-color: #FEC779;
}
#four {
  background-color: #FCB64C;
}
#five {
  background-color: #FAA220;
}
