@media screen and (min-width: 801px) {
  .Nav {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 20px 50px 40px 50px;
}

  button {
    appearance: none;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    box-shadow: none;
    position: relative;
    cursor: pointer;
    color: rgb(255, 255, 255);
    height: 35px;
    width: 180px;
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    outline: none;
    transition: all 120ms ease-in 0s;
    overflow: hidden;
    background: #FAA220;
    border-color: transparent;
    padding: 0px 32px;
    font-weight: 500;
  }

  .button {
    appearance: none;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    box-shadow: none;
    position: relative;
    cursor: pointer;
    color: rgb(255, 255, 255);
    height: 35px;
    width: auto;
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    outline: none;
    transition: all 120ms ease-in 0s;
    overflow: hidden;
    background: #FAA220;
    border-color: transparent;
    padding: 0px 32px;
    font-weight: 500;
  }

  button:hover {
    background-color: rgb(243, 139, 0);
  }

  .disabled {
    background-color: #FFD8A1;
  }

  .disabled:hover {
    background-color: #FFD8A1;
    cursor: default;
  }

  svg {
    width: 25%;
  }
}
@media screen and (max-width: 800px) {
  .Nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  button {
    appearance: none;
    border: none;
    background-color: white;
    font-size: 1rem !important;
    font-weight: bold;
    outline: none;
  }

  .disabled {
    border-bottom: .1rem solid rgb(243, 139, 0);
  }

  svg {
    padding: 10px;
    margin: auto;
    flex-basis: 100%;
  }
}
